/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Handlee", cursive;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

.hidden-svg{
    display: none;
}

.bg-sec{
    background-image: url("/img/hot-pink-sky.jpeg");
    height: 95vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:30px;
    transition: .4s ease-in-out;
    width: 30%;
    height: auto;
    border-radius: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(97, 95, 95, 0.363);
    border: #e0dfdf solid 2px;
}
.form-name{
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
}
.icon{
    width: 20px;
    height: 20px;
}
.field{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-bottom: #e0dfdf solid 1px;
    outline: none;
    padding: 10px;
    margin: 10px 0;
    gap: 10px;
    color: white;
    box-shadow: inset 2px 5px 10px rgba(223, 222, 222, 0.384);
}
.input-row{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}
::placeholder {
    color: #fff;
  }


/* Checkbox */

.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align:middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    margin-left: 15px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #ffffff;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(136, 0, 63);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: rgb(136, 0, 63);
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: rgb(136, 0, 63);
    border-color: rgb(136, 0, 63);
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
.ch-text{
    color: #ffffff;
    font-size: 12px;
}

/* button */
.btn-login {
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    color: rgb(136, 0, 63);
    transition: all 0.5s;
   }
   .btn-login:hover {
    color: #fff;
    border: #ffffff3f solid 1px;
    background: linear-gradient(90deg, rgba(167, 7, 68, 0.178) 0%, rgba(3, 21, 102, 0.788)) 100%;
   }
   
   .btn-login:active {
    transform: translate(0em, 0.2em);
   }
/* --------- */

.signin-text{
    font-size: 14px;
    color: #ffffff;
    margin-left: 15px;
   }
   .signin-text a{
    margin-left: 3px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(136, 0, 63);
   }
   .signin-text a:hover{
    text-decoration: underline;
   }


.me{
    margin-left: 50%;
}
